body{
    font-family: 'Roboto', sans-serif;
    background-color: #525758;
}
.page{
    width: 793px;
    height: 1048px;
    background-color: red;
    margin: auto;
    box-shadow: 0px 1px 5px black;
}
.top {
    display: flex;
    height: 238px;
}
.topLeft, .bottomLeft{
    background-color: black;
    color: white;
    font-size: 12px;
}

.topLeft {
    width: 289px;
}

.topRight, .bottomRight{
    width: 444px;
    background-color:white;
    font-size: 12px;
    font-weight: 600;
    text-justify: inter-word;
    text-align: justify;
    padding: 0 30px;
    font-weight: 500;
}

.topRight {
    padding-top: 15px;
}


.overlay{
    display: flex;
    width: 793px;
    height: 122px;
    background-color: #EAD142;
    font-stretch: expanded;
}

.yellow{
    width: 469px;
    line-height: 20px;
    margin-top: -10px;    
    text-align: center;

}
.bold{
    font-weight: bolder;
}
.name{
    font-size: 48px;
}
.yellowPara{
    font-size: 17px;
    font-weight: 500;
}
.details{
    width: 247px;
    background-color: white;
    font-size: 12px;
    margin-top: -9px ;
    font-weight: 500;
    padding-left: 15px;
    text-align: left;
}

.bottom {
    display: flex;
    width: 100%;
    height: 688px;
}

.bottomLeft {
    width: 261px;
    padding-left: 28px;
    line-height: 0.95;
}

.bottomLeft h1{
    text-align: left;
}
.bottomLeft hr{
    margin-right: 10%;
    margin-top: -4%;
}
.technical td:nth-of-type(1){
    width: 50%;
}
.cognitive td:nth-of-type(2){
    padding-left: 30px;
}
.industry td:nth-of-type(2){
    padding-left: 30px;
}

.bottomRight h1{
    color: #313A4D;
}

.bottomRight hr{
    margin: -3% 0 3% 0;
}
.bottomRight ul{
    padding-left: 15px;
}
.year{
    font-size: 20px;
    font-weight: 900;
    margin: 7% 0 -1px 0;

}
.company{
    margin: -1px 0;
    font-size: 20px;
}
.role{
    margin: -1px 0;
    font-weight: 900;
    font-size: 17px;
}